<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        {% stylesheets
            '../node_modules/bootstrap/dist/css/bootstrap.css'
            '../node_modules/bootstrap/dist/css/bootstrap-grid.css'
            '../app/Resources/css/style.css'
            filter='cssrewrite' output='css/app.css' %}
            <link rel="stylesheet" href="{{ asset_url }}"/>
        {% endstylesheets %}
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
<div class="container-fluid wrapper" id="main-div">
    {% block body %}{% endblock %}
</div>
{% block javascripts %}
    {% javascripts
        '../node_modules/jquery/dist/jquery.min.js'
        '../node_modules/bootstrap/dist/js/bootstrap.min.js'
        '../app/Resources/js/*' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
<script type="application/javascript">
    let reload = {
        navigate: (url, data) => {
            $.ajax({
                url: url,
                data: data,
                method: 'POST'
            })
                .done(function(response) {
                    $("#main-div").html(response);
                    VideoPlayer.init();
                })
                .fail(response => console.error(response));
        }
    }
</script>
</body>
</html>
